body {
  background-color: #f5f7ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 50px;
}
.container .result {
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: #2388ff;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 5rem;
  text-align: right;
}
.container .calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.container .calculator span {
  font-size: 2rem;
  background-color: #d8ddf0;
  color: #576181;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
