* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7ff;
  font-family: "Roboto", sans-serif;
}
.container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator {
  background-color: #fff;
  padding: 2rem;
  border-radius: 50px;
  overflow: hidden;
}
#calculator #display {
  font-size: 1.25rem;
  padding: 2rem;
  font-weight: bold;
  background-color: #2388ff;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 3rem;
  text-align: right;
  outline: none;
  border: none;
}
#calculator #keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#calculator #keys button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

#calculator #keys button#calc {
  background-color: #399918;
  grid-column: span 2;
  border-radius: 12px;
  width: auto;
}

#calculator #keys button:hover {
  background-color: hsl(0, 0%, 50%);
}
#calculator #keys button:active {
  background-color: hsl(0, 0%, 60%);
}

/* ========== footer (Personal Contact) ========== */
footer {
  background-color: #399918;
  padding: 20px 0;
  text-align: center;
}
footer .social {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
footer .social .fa-brands {
  color: #009ad8;
}
footer .fa-circle {
  color: #1e202b;
  transition: 0.3s;
}
footer .fa-brands {
  transition: 0.3s;
}
footer .fa-stack:hover .fa-brands {
  color: #fff;
}
footer .fa-stack:hover .fa-circle {
  color: #009ad8;
}
